<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>COPEGE - @ViewData["Title"]</title>
    
    
    <environment include="Development">
        <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/style.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
              rel="stylesheet" type="text/css" />
    </environment>
    
    <!--tages-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Randon, Volto, Scania, Muller, Peças para Caminhões" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/responsiveslides.css">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/responsiveslides.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/responsiveslides.css">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/responsiveslides.min.js"></script>
    </environment>

    <script>
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                maxwidth: 1600,
                speed: 600
            });
        });
    </script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <!--End-header-->
    <div class="top-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="home"><a href="/">PRINCIPAL</a></li>
                    <li><a asp-action="SobreNos" asp-controller="Home">SOBRE NÓS</a></li>
                    <li><a asp-action="Servicos" asp-controller="Home">SERVIÇOS</a></li>
                    <li><a asp-action="Cotacao" asp-controller="Home">COTAÇÃO</a></li>
                    <li><a asp-action="Contato" asp-controller="Home">CONTATO</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <!--start-image-slider-->
    <div class="image-slider">
        <!-- Slideshow 1 -->
        <ul class="rslides" id="slider1">
            <li><img src="~/images/slider1.jpg" alt=""></li>
            <li><img src="~/images/slider2.jpg" alt=""></li>
            <li><img src="~/images/slider1.jpg" alt=""></li>
        </ul>
        <!-- Slideshow 2 -->
    </div>
    <!--End-image-slider-->

    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="b-one b-two">
                <div class="col-md-4 bt-left">
                    <a href="tel:1122186100"><img class="img-responsive" src="~/images/Telefone_02.png"></a>
                    <a href="tel:11970947251"><img class="img-responsive" src="~/images/Telefone_01.png"></a>
                </div>
                <div class="col-md-4 bt-left">
                    <a href="https://goo.gl/maps/kbykfUSgkaT2"><img class="img-responsive" src="~/images/Endereco.png"></a>
                </div>
                <div class="col-md-4 bt-left">
                </div>
                <a href="skype:don.copege?chat"> <img class="img-responsive" src="~/images/Email_01.png"></a>
                <a href="mailto:copege@copege.com.br"> <img class="img-responsive" src="~/images/Email_02.png"></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="copy-right">
        <p>© 2020 Todos os direitos para COPEGE | Desenvolvido por  <a href="http://www.infinitovirtual.com.br">Infinito Virtual</a></p>
    </div>
</body>
</html>



