@{
    ViewData["Title"] = "Serviços";
}
<div class="content">
    <div class="container">
        <!--start-services-->
        <div class="services">
            <h4>Nosso serviços</h4><h5> </h5><div class="clearfix"> </div>
            <div class="section group">
                <div class="col-md-6 listview_1_of_2">
                    <div class="images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <img src="~/images/s1.jpg" alt="">
                        </div>
                        <div class="text list_2_of_1">
                            <h3>Estoque</h3>
                            <p>Dispomos de um estoque estratégico, estruturado nos itens de maior desgaste, abrangendo todas as partes do equipamento, o que lhe proporciona uma tranquilidade de fornecimento de peças essenciais para seu equipamento não parar.</p>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-6 listview_1_of_2">
                    <div class="images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <img src="~/images/s2.jpg" alt="">
                        </div>
                        <div class="text list_2_of_1">
                            <h3>Logística</h3>
                            <p>Localizada em uma zona privilegiada de São Paulo, despachamos sua mercadoria sempre no prazo combinado. Para isso dispomos de serviço de motos e pick up colocando sua mercadoria na transportadora solicitada, amenizando prazos e custos para sua empresa.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="section group">
                <div class="col-md-6 listview_1_of_2">
                    <div class="images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <img src="~/images/s4.png" alt="">
                        </div>
                        <div class="text list_2_of_1">
                            <h3>Atendimento</h3>
                            <p>
                                Nossa equipe está preparada para atendê-lo bem de forma ágil e objetiva. Se tiver alguma dificuldade, estamos prontos para ajudá-lo com informações técnicas, catálogos, desenhos e fotos. Nosso foco é solucionar sua necessidade.
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End-services-->
    </div>
</div>