@{
    ViewData["Title"] = "Sobre Nós";
}
<div class="content">
    <div class="container">

        <div class="about">
            <div class="services"><h4>QUEM SOMOS</h4><h5> </h5><div class="clearfix"> </div> </div>
            <div class="about-top b-head">
                <p>A Copege foi criada em 2005, para atender o segmento de reposição de peças para equipamentos pesados para mineradoras, pedreiras, construtoras e prestadores de serviços. Atuamos de forma diferenciada com RANDON, VOLVO e SCANIA. </p>
                <p>

                    Nossa empresa tem um estoque consolidado com mais de 10.000 itens a pronta entrega. Temos parcerias com fornecedores e distribuidores das melhores marcas que nos possibilitam eficácia e agilidade no atendimento de sua demanda.
                </p>
                <p>
                    Atendemos todo Brasil, com um sistema de gestão, que garante todas as exigências de nossos clientes dando tranquilidade a sua compra.
                </p>
                <br><br><br>
                <div class="services"><h4>NOSSA MISSÃO</h4><h5></h5><div class="clearfix"> </div> </div>
                <div class="about-top b-head">
                    <p>Atender com excelência nossos parceiros, fornecendo produtos reconhecidamente de qualidade, proporcionando tranquilidade e confiabilidade de maneira organizada e rápida para seu equipamento não parar.</p>
                </div>
            </div>
            <br><br><br>
            <div class="services"><h4>NOSSA VISÃO</h4><h5> </h5><div class="clearfix"> </div> </div>
            <div class="about-top b-head">
                <p>Ser reconhecido como parceiro estratégico, melhor opção de fornecimento, orientação técnica e disponibilidade de produtos. </p>
            </div>
        </div>
        <br><br><br>
        <div class="services"><h4>NOSSOS VALORES</h4><h5> </h5><div class="clearfix"> </div> </div>
        <div class="about-top b-head">
            <p>Trabalho em equipe</p>
            <p>Respeito e ética</p>
            <p>Qualidade e tranquilidade</p>
            <p>Inovação</p>
            <p>Aprimoramento técnico</p>
        </div>
    </div>
</div>