@{
    ViewData["Title"] = "Error503";
}
<br />
<div class="container">
    <div class="contact-main">
        <div class="col-md-4 contact-in">
        </div>
        <div class="col-md-4 contact-in">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Volte a navegar em nosso site mais tarde!</h5>
                    <p class="card-text">Opps! Desculpe o inconveniente.</p></br>
                    <p><img src="~/img/http_status_unavailable.png">Error 503 - Status do servidor indisponível.</p>
                    <p>@ViewBag.Mensagem</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 contact-in">
        </div>
    </div>
</div>
<br />

