@{
    ViewData["Title"] = "Error404";
}
<br />
<div class="container">
    <div class="contact-main">
        <div class="col-md-4 contact-in">
        </div>
        <div class="col-md-4 contact-in">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Volte a <a asp-action="Index" asp-controller="Home">navegar</a> em nosso site.</h5>
                    <p class="card-text">Opps! A página que você tentou acessar não existe!</p></br>
                    <p><img src="~/img/http_status_not_found.png">Error 403 - Página não encontrada</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 contact-in">
        </div>
    </div>
</div>
<br />


