@{
    ViewData["Title"] = "Error403";
}
<div class="container">
    <div class="contact-main">
        <div class="col-md-4 contact-in">
        </div>
        <div class="col-md-4 contact-in">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Efetue o <a asp-controller="Home" asp-action="Login">login</a> para acessar esta página.</h5>
                    <p class="card-text">Opps! Você não tem permissão para acessar esta página!</p></br>
                    <p><img src="~/img/status_unknown.png">Error 403 - Acesso negado</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 contact-in">
        </div>
    </div>
</div>
<br />
